<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>
  Login
</title>
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,user-scalable=no"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700"
/>
<link rel="stylesheet" href="/theme/css/vendor-rtl.min.css" />
<link rel="stylesheet" href="/theme/css/elephant-rtl.min.css" />
<link rel="stylesheet" href="/theme/css/login-2-rtl.min.css" />
<link rel="stylesheet" href="/theme/css/application-rtl.min.css"" />
<link rel="stylesheet" href="/theme/css/demo-rtl.min.css" />
