<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%=title%>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" />
  <link rel="stylesheet" href="/theme/css/vendor-rtl.min.css" />
  <link rel="stylesheet" href="/theme/css/elephant-rtl.min.css" />
  <link rel="stylesheet" href="/theme/css/application-rtl.min.css" />
  <link rel="stylesheet" href="/theme/css/demo-rtl.min.css">
  <link href='https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css' rel='stylesheet' type='text/css'>
  <link href="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css" rel="stylesheet" type="text/css">
  <style>
    body {
      font-family: Shabnam;
    }
  </style>
</head>