<div style="display: none;" id="login" class="login">
  <div class="login-body">
    <div class="login-form">
      <form action="javascript:void(0);" autocomplete="off">
        <div class="form-group">
          <label>Password</label>
          <input
            autocomplete="off"
            id="loginPassword"
            class="form-control"
            type="text"
          />
        </div>
        <button
          id="loginSubmit"
          class="btn btn-primary btn-block"
          type="button"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
