<div id="preAuth" class="login">
  <div class="login-body">
    <div class="login-form">
      <form action="javascript:void(0);" autocomplete="off">
        <div class="form-group">
          <label>Phone</label>
          <input
            autocomplete="off"
            id="phone"
            class="form-control"
            type="text"
          />
        </div>
        <button
          id="preAuthSubmit"
          class="btn btn-primary btn-block"
          type="button"
        >
          Next Step
        </button>
      </form>
    </div>
  </div>
</div>
